@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
/* dark mode
  background: #15202b;
    border-radius: 20px;
  background: #15202b;
  box-shadow: 35px 35px 56px #121c25, -35px -35px 56px #182431; 
  .overlaybttn a:hover {
  box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
  .overlaybttn a {
    background: #15202b;
  }
}*/
/* Overlay Buttons Starts */
/* Overlay Buttons Ends */
/* Card Starts */
/* Card Ends */
/* Syllabus Starts */
/* Syllabus Ends */
/* Routine Starts */
/* Routine Ends */
/* Bus Starts */
/* Bus Ends */
/* Footer Part */
/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Footer Ends*/
/* Responsive */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f0f0f0;
  color: #e4e4e4;
  overflow-x: hidden;
}
.overlaybttn {
  .fa-arrow-circle-down {
    color: #794bc4;
  }
  .fa-arrow-circle-up {
    color: #794bc4;
  }
  margin: 30px 0px;
  display: flex;
  justify-content: flex-end;
  a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
    background: #f37272;
    transition-duration: 0.3s;
    &:hover {
      box-shadow: 2px 2px 6px #f37272, -2px -2px 6px #f37272;
    }
    i {
      color: #4285f4;
      font-size: 21px;
    }
    span {
      padding-left: 2px;
      font-size: 20px;
      display: inline-block;
    }
  }
}
.day-text {
  margin-top: 170px;
}
.day-message {
  color: rgb(70, 66, 59);
  font-size: 40px;
}
.date {
  font-size: 30px;
  color: #17bf63;
}
.typer {
  text-align: end;
  h1 {
    color: #e0245e;
  }
}
.card {
  text-align: center;
  align-items: center;
  padding: 50px 100px;
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: 23px 23px 45px #b2b2b2, -23px -23px 45px #ffffff;
  margin-bottom: 70px;
}
.section-title {
  h1 {
    font-family: "Roboto Slab";
    font-weight: 900;
    color: #17bf63;
    font-size: 26px;
    font-weight: 400;
  }
  width: 100%;
  padding-bottom: 40px;
  font-size: 48px;
}
section {
  table {
    width: 100%;
    th {
      color: #150436;
    }
    tr {
      td {
        color: #160438;
        padding: 10px;
        border-style: none;
        font-weight: 400;
        height: 50px;
        border-color: #f1eeee61;
        &:nth-child(3) {
          font-size: 15px;
        }
      }
    }
  }
}
.link {
  a {
    width: 100%;
    text-decoration: none;
    color: inherit;
    background: #794bc4;
    padding: 10px 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
    display: inline-block;
    color: #e9e4f1;
    &:hover {
      opacity: 0.8;
    }
  }
}
.counter-area {
  padding: 30px 0px 10px;
  h1 {
    font-size: 30px;
    display: inline-table;
    color: #17bf63;
  }
  h2 {
    color: #160438;
  }
  p {
    color: #794bc4;
    font-size: 20px;
  }
}
.syllabus {
  padding: 20px 0px 40px;
  .section-title {
    padding-bottom: 60px;
  }
}
.level {
  h2 {
    margin-bottom: 30px;
    color: #17bf63;
  }
  h5 {
    padding: 10px 0px;
  }
}
.sy-link {
  a {
    background: #794bc4;
    text-decoration: none;
    color: wheat;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 8px 0px;
    transition-duration: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.pdf {
  h2 {
    margin-bottom: 30px;
    color: #17bf63;
  }
}
.rot_link {
  a {
    background: #794bc4;
    text-decoration: none;
    color: #e9e4f1;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-size: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.bus-route {
  color: #150436;
  padding: 10px;
  img {
    max-width: 100%;
  }
}
.bus1 {
  margin: 0;
}
.bus2 {
  margin: 0;
}
.bus3 {
  margin: 0;
}
.bus4 {
  margin: 0;
}
footer {
  text-align: center;
  padding: 70px 0px 30px;
  border-radius: 50px 50px 0px 0px;
  background: #f0f0f0;
  box-shadow: 23px 23px 45px #b2b2b2, -23px -23px 45px #ffffff;
  margin: 100px 0px 0px;
  position: relative;
  ul {
    li {
      span {
        color: #e0245e;
        display: inline-block;
        padding: 5px 0px;
      }
      list-style-type: none;
      padding: 5px 0px;
      a {
        text-decoration: none;
        display: inline-block;
        color: #160438;
        transition-duration: 0.3s;
        &:hover {
          color: #150436;
        }
      }
      h3 {
        color: #160438;
      }
    }
    text-align: left;
  }
  .overlaybttn {
    position: absolute;
    bottom: 0px;
    right: 40px;
  }
}
h4 {
  color: #e0245e;
}
h5 {
  color: #e0245e;
}
.socials {
  a {
    color: #150436;
    text-decoration: none;
    font-size: 20px;
  }
  ul {
    display: inline-block;
    li {
      a {
        i {
          transition: all linear 0.3s;
        }
      }
      .fa-facebook-square {
        &:hover {
          color: #4267b2;
        }
      }
      .fa-twitter {
        &:hover {
          color: rgb(25, 198, 241);
        }
      }
      .fa-github {
        &:hover {
          opacity: 0.5;
        }
      }
      .fa-discord {
        &:hover {
          color: #7289d9;
        }
      }
    }
  }
}
.cpy-rgt {
  color: #150436;
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 900;
  padding: 20px 0px 0px;
  span {
    a {
      text-decoration: none;
      color: #e0245e;
    }
  }
}
.rotating {
  max-width: 190px;
  max-width: 50%;
  transition: all linear 0.5s;
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}
@media (max-width: 1199px) {
  body {
    width: 100%;
    padding: 10px 50px;
  }
  header {
    padding: 20px 0px;
  }
  .logo {
    width: 100px;
  }
  .overlaybttn {
    margin: 0px 0px;
    a {
      i {
        font-size: 14px;
      }
      span {
        font-size: 14px;
      }
    }
  }
  section {
    padding: 30px 30px;
    table {
      tr {
        td {
          padding: 20px 5px;
          width: 33.33%;
          &:nth-child(4) {
            width: 100% !important;
          }
        }
        th {
          padding: 10px 5px;
          width: 33.33%;
          &:nth-child(4) {
            width: 100% !important;
          }
          &:nth-child(5) {
            width: 100%;
          }
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px groove white;
        padding: 25px;
      }
    }
  }
}
@media (max-width: 991px) {
  body {
    padding: 10px 40px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 10px 10px 0px !important;
  }
  .cpy-rgt {
    font-size: 17px;
  }
  .typer {
    h1 {
      font-size: 22px;
    }
  }
}
@media (max-width: 599px) {
  .day-message {
    color: wheat;
    font-size: 26px;
  }
  .date {
    font-size: 20px;
    color: #17bf63;
  }
  .day-text {
    margin-top: 117px;
  }
  header {
    padding: 30px 0px 40px !important;
    padding: 10px 0px;
  }
  .syllabus {
    padding: 0;
  }
  .card {
    text-align: center;
    align-items: center;
    padding: 30px 0px;
  }
  .typer {
    h1 {
      font-size: 22px;
    }
  }
  #bce {
    margin-top: 15px !important;
  }
  .section-title {
    h1 {
      font-size: 30px !important;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .bus-route {
    img {
      max-width: 90%;
    }
  }
  .overlaybttn {
    a {
      i {
        font-size: 15px !important;
      }
      span {
        font-size: 15px !important;
      }
    }
  }
  section {
    table {
      tr {
        th {
          font-size: 16px !important;
          padding: 10px 5px;
          width: 100%;
          font-size: 12px;
          &:first-child {
            width: 50% !important;
          }
          &:nth-child(2) {
            width: 50% !important;
          }
        }
        td {
          width: 100%;
          &:first-child {
            width: 50% !important;
          }
          &:nth-child(2) {
            width: 50% !important;
          }
        }
      }
    }
    padding: 10px 10px;
  }
  footer {
    .overlaybttn {
      position: absolute;
      bottom: 75px !important;
      left: 30px;
      position: absolute;
      bottom: 60px;
      left: 30px;
    }
    ul {
      li {
        span {
          font-size: 15px;
          color: #e0245e;
          font-size: 18px;
        }
        a {
          font-size: 15px;
        }
        h4 {
          font-size: 17px;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
    position: relative;
  }
  .logo {
    width: 100%;
    img {
      width: 30%;
      margin: auto;
    }
  }
  .header-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4 {
    color: #e0245e;
    font-size: 18px;
  }
  h5 {
    color: #e0245e;
    font-size: 18px;
  }
}
