/* HEADER STARTS */
/* Dropdown content (hidden by default) */
/* Show the dropdown menu on hover */
/*
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
header {
  background-color: #16443eda;
  padding: 50px 0px 40px;
  border-bottom: 2px solid #c5d7bd;
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgb(63, 62, 62);
  z-index: 99;
}
.nav-item {
  padding: 0px 10px;
  a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    color: wheat;
  }
}
.navbar-expand-lg {
  .navbar-nav {
    .dropdown-menu {
      position: absolute;
      background-color: #16443eda !important;
      font-family: inherit;
      margin: 0;
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c0a0a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    &:hover {
      background-color: #ddd;
    }
  }
}
.dropdown {
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
.dropdown-item.active {
  transition: all linear 0.3s;
  color: wheat;
  text-decoration: none;
  background-color: rgb(112, 116, 121) !important;
}
.dropdown-item {
  transition: all linear 0.3s;
  &:hover {
    color: wheat;
    text-decoration: none;
    background-color: rgb(112, 116, 121) !important;
  }
}
.nav-link {
  border-bottom: 2px solid transparent;
  transition: all linear 0.3s;
  &:hover {
    border-bottom: 2px solid #fff9b0;
    cursor: pointer;
    color: #c5d7bd;
  }
}
.navbar-brand {
  margin-right: 0 !important;
  right: 50%;
  transform: translate(50%, -60px);
  top: 0;
  position: absolute;
  img {
    max-width: 180px;
    transition: all linear 0.3s;
  }
}
.rotate {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  &:hover {
    transform: scale(1.1);
  }
}
.rotating {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../images/hamburger.png);
}

