.top-banner {
  background-image: url(../../assets/topbnrbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 100vh; */
}
.top-bnr-overlay {
  height: inherit;
  background-color: rgba(18, 20, 20, 0.603);
}

.top-over-details-part {
  padding: 250px 0px;
}

.top-over-details-part h1 {
  font-family: "Ubuntu";
  color: #e0245e;
  font-size: 3rem;
}

.top-over-details-part p {
  padding-top: 15px;
  font-size: 20px;
}


.home-shield {
  position: absolute;
  bottom: 110px;
  right: 20px;
}

@media (max-width: 991px) {
  .wave {
    bottom: -25px;
  }
  .home-shield {
    position: absolute;
    bottom: 55px;
    right: 20px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 599px) {
  .wave {
    bottom: -1px;
  }
  .home-shield {
    position: absolute;
    bottom: 40px;
    right: 10px;
  }
}
